@use "./variables.scss" as *;

.infobox, table.infobox {
	border: 1px solid #AAAAAA;
	clear: right;
	color: #222;
	float: right;
	font-size: 88%;
	line-height: 1.5em;
	margin: 0.5em 0px 1.2em 1.5em;
	padding: 0.3em;
	text-align: left;
	width: 280px;
	max-width: 300px;
	table-layout: fixed;
	border-collapse: collapse;
	box-sizing: border-box;
	border-radius: 10px;
	box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.15);
}

table.infobox a {
	color: #0b0080;
}

.plainlist ul { 
	line-height: inherit;
	list-style: none outside none;
	margin: 0px;
	padding-left: 0px;
}

.plainlist ul li { 
	margin-bottom: 0px;
}

table.infobox th.infobox-header {
	text-align: center; 
	font-size: 125%; 
	font-weight: bold; 
	font-style: italic;
	padding: 0.3em 0.2em;
}

td.infobox-picture {
	text-align: center;
	padding: 0.3em 0;
	overflow: hidden;
}

td.infobox-picture img,
table.infobox img {
	max-width: 100% !important;
	width: 100% !important;
	height: auto !important;
	display: block;
	margin: 0.3em auto;
	object-fit: contain;
}

th.category-header {
	text-align: right; 
	vertical-align: top;
	padding: 0.2em 0.5em 0.2em 0;
	width: 35%;
	box-sizing: border-box;
}

td.category {
	vertical-align: top;
	padding: 0.2em 0;
	width: 65%;
	word-break: break-word;
	box-sizing: border-box;
}

.infobox-troupe {
    background-color: #fdd;
}
.infobox-performer {
	background-color: #fee8d6;
}
.infobox-show {
    background-color: #dff;
}
.infobox-theater {
    background-color: #ddf5eb;
    width: 300px;
}

@media (max-width: 650px) {
	.infobox, table.infobox {
		float: none !important;
		width: 100% !important;
		max-width: 100% !important;
		margin: 1em auto !important;
	}
}
